.blog-card {
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
    height: 100%;
    padding: 20px;
}

.card-img {
    height: 265px;
    width: 100%;
    padding-bottom: 1rem;
}
.card-img img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.blog-date-time {
    margin-bottom: 12px;
    margin-top: 12px;
}
.blog-text-desc {
    color: #212529 !important;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 24px;
    padding-top: 15px !important;
}
.blog-name-title h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 1rem;
}
.link-learnMore {
    font-weight: 600 !important;
}
.blog-date-time span {
    color: #607d8b;
    font-size: 14px;
}

@media only screen and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (max-width: 1200px) {
}
